<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        textarea {
            width: 100vw;
            height: 50vh;
        }
    </style>
</head>
<body>
    <h1>Validate</h1>

    <textarea>
<html>
    <head>
        <title>Test page</title>
    </head>
    <body>
        <hgroup>
            <h1>Heading</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, quasi pariatur quas aliquam dolorem iure quam iste porro in rerum dolor dolorum quo possimus incidunt aperiam quod? Ratione, odit dolorum.</p>
        </hgroup>
    </body>
</html>        
    </textarea>
</body>
</html>