@counter-style lines {
    system: numeric;
    symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
    suffix: ": ";
}

.editor[data-mimetype="html"]:before {
    content: "HTML";
    background-color: black;
    color:white;
    text-transform: uppercase;
}

.editor[data-mimetype="js"]:before {
    content: "JavaScript";
    background-color: black;
    color:white;
    text-transform: uppercase;
}

.editor {
    background-color: cornsilk;
    margin: 0;
    list-style: lines;
    cursor: default;
    margin-bottom: 20px;
}

.editor > li {
    padding: 3px 6px;
    cursor: text;
    white-space: pre;
}

.editor > li:hover {
    background-color: antiquewhite;
}

.editor:not(.range-selection) > li.active {
    background-color: white;
    outline: 1px solid purple;
    border-bottom: none 
}

[data-type="tagname"] {
    color: purple;
}

[data-type="opening-angle-bracket"] {
    color: grey;
}

[data-type="closing-angle-bracket"] {
    color: grey;
}

[data-type="backslash"] {
    color: grey;
}

[data-type="attribute-name"] {
    color: orange;
}

[data-type="equal-sign"] {
    color: grey;
}

[data-type="attribute-value"] {
    color: brown;
}

[data-type="open-quote"] {
    color: grey;
}

[data-type="close-quote"] {
    color: grey;
}

.highlight-pair {
    background-color: red;;
}

#predictive-list {
    position: absolute;
}



[data-type="quote-open"] {
    background-color: green;
    color: white;
}

[data-type="quote-close"] {
    background-color: lightgreen;
    color: green;
}

[data-type="string"] {
    background-color: lightpink;
    color: black;
}

/* KEYWORD: CLASS */
[data-type="keyword-class"] {
    background-color: purple;
    color: white;
}

[data-type="class-name"] {
    background-color: mediumslateblue;
    color: white;
}

/* KEYWORD: CONST */
[data-type="keyword-const"] {
    background-color: blue;
    color: white;
}

[data-type="const-name"] {
    background-color: lightblue;
    color: black;
}


/* KEYWORD: LET */
[data-type="keyword-let"] {
    background-color: rgb(131, 131, 0);
    color: black;
}

[data-type="let-name"] {
    background-color: yellow;
    color: black;
}

/* KEYWORD: VAR */
[data-type="keyword-var"] {
    background-color: darkred;
    color: white;
}

[data-type="var-name"] {
    background-color: lightcoral;
    color: black;
}

/* KEYWORD: FUNCTION */
[data-type="keyword-function"] {
    background-color: burlywood;
    color: black;
}

[data-type="function-name"] {
    background-color: darkorange;
    color: white;
}

/* CLASSES */
[data-type="class-static-prefix"] {
    background-color: pink;
    color: black;
}

[data-type="class-private-prefix"] {
    background-color: red;
    color: white;
}

/* METHOD */
[data-type="class-method"] {
    background-color: rgb(255, 0, 0);
    color: black;
}

[data-type="class-static-method"] {
    background-color: rgb(200, 0, 0);
    color: white;
}

[data-type="class-private-method"] {
    background-color: rgb(150, 0, 0);
    color: white;
}

[data-type="class-static-private-method"] {
    background-color: rgb(100, 0, 0);
    color: white;
}

/* ARROW METHOD */
[data-type="class-arrowmethod"] {
    background-color: rgb(255, 150, 0);
    color: black;
}

[data-type="class-static-arrowmethod"] {
    background-color: rgb(200, 150, 0);
    color: black;
}

[data-type="class-private-arrowmethod"] {
    background-color: rgb(150, 150, 0);
    color: black;
}

[data-type="class-static-private-arrowmethod"] {
    background-color: rgb(100, 150, 0);
    color: black;
}

/* PROPERTY */
[data-type="class-property"] {
    background-color: rgb(255, 150, 250);
    color: black;
}

[data-type="class-static-property"] {
    background-color: rgb(200, 150, 250);
    color: black;
}

[data-type="class-private-property"] {
    background-color: rgb(150, 150, 250);
    color: black;
}

[data-type="class-static-private-property"] {
    background-color: rgb(100, 150, 250);
    color: black;
}

/* DECLARATION */
[data-type="class-declaration"] {
    background-color: black;
    color: white;
}

[data-type="class-static-declaration"] {
    background-color: rgb(51, 51, 51);
    color: white;
}

[data-type="class-private-declaration"] {
    background-color: rgb(100, 100, 100);
    color: black;
}

[data-type="class-static-private-declaration"] {
    background-color: rgb(150, 150, 150);
    color: black;
}


/* OBJECT PATHS */
[data-type="path-object"] {
    background-color: purple;
    color: white;
}

[data-type="path-property"] {
    background-color: pink;
    color: black;
}


/* VARIABLE */
[data-type="variable"] {
    background-color: pink;
    color: red;
}



/* OPERATORS */
[data-type="operator-equals"] {
    background-color: purple;
    color: yellow;
}

[data-type="operator-colon"] {
    background-color: yellow;
    color: purple;
}